body{
	margin:0px;
}
.ohmyfood{
	font-size: 25px;
    margin: auto;
	font-family: Shrikhand;
	font-weight: normal;
}
h1{
	font-size: 20px;
    font-family: Roboto;
    font-weight: normal;
} 
h2{
	text-align: left;
	font-size: 20px;
	font-weight: bold;
    font-family: Roboto;
}
h3{
	font-size: 15px;
	margin-left: 10px;
	margin-top: 50px;
	font-weight: normal;
	text-align: left;
    font-family: roboto;
}
p{  
	margin: 0px;
	font-family: Roboto;
}
.colorrose{
	color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 35px ;
    background-image:linear-gradient(#FF79DA, #9356DC);
	box-shadow:0px 2px 10px #929191;
	transition: 0.3s;
}
.colorrose:hover, .colorrose2:hover{
	box-shadow:0px 2px 10px #4e4d4d;
	opacity: 0.9;
}
.colorrose2{
	transition: 0.3s;
	font-family: Roboto;
	background-image:linear-gradient(#FF79DA, #9356DC);
    color: white;
    padding: 15px 60px 15px 60px;
    border-radius: 35px;
    box-shadow: 0px 2px 10px #929191;
}
.option{
	display: flex;
	align-items: stretch;
	margin-right: 8px;
	margin-left: 8px;
	margin-bottom: 20px;
	padding: 16px 0px 16px 8px;
	border-radius: 15px ;
	background-color: #F1F1F1;
	box-shadow: 0px 2px 10px #C7C7C7;
	transition: 0.2s;
}
.choix:hover .option{
	background-color:#9356DC50;
	box-shadow: 0px 2px 15px #C7C7C7;
}
.choix:hover i{
	color: #9356DC;
}
.option2{
	overflow: hidden !important;
	font-size: 14px;
	margin: 0.7rem;
	display: block;
	text-align: left;
	border-radius: 15px ;
	background-color: white;
	box-shadow: 0px 2px 10px #C7C7C7;
}
.option2:hover .text{
	width:calc(75%vw - 50px);
}
main{
	text-align: center;
}
a{
    text-decoration: none;
    color: black;
} 
.footer .fas{
	margin-right: 5px;
}
.restaurant__menu{
	text-align: left;
	margin: auto;
	margin-bottom: 25px;
	box-sizing: content-box;
	border-radius: 15px ;
	box-shadow: 0px 0px 11px grey;
}
.restaurant__menu img{
	width: 100% !important;
	height: auto !important;
	border-radius: 15px 15px 0px 0px;
}
.new{
	font-weight: bold;
	border-radius: 5px;
	margin-top: 15px;
	text-align: center;
	color: green;
	background-color:#99E2D0;
	width: 60px;
	height: 25px;
	padding: 7px 15px 3px 15px;
	position: absolute;
}
.newcon{
	display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}
.margin{
	display: flex;
	align-items: flex-end;
	margin-top: 10px;
    margin-left: 1rem;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
footer {
    padding: 5px 5px 5px 5px;
	background-color: #3A3A3A;
}
footer a{
	color: white;
}
.espace{
	margin-bottom: 15px;
	background-color:#E1DEDE;
	padding: 15px 0px 15px 0px;
}
.espace2{
	background-color:#F1F1F1;
	margin-top: -21px;
	padding: 35px 0px 10px 0px;
}
.espace3{
	background-color:#F1F1F1;
	margin-top: 60px;
	padding-bottom: 50px;
}
.menu{
	padding-top:3.4rem;
}
.espace4{
	margin-top: 30px;
}
.souligne{
    border-bottom: 2px #99E2D0 solid;
}
.menu{
	width: 100%;
}
h4{
	color: white;
	font-weight: normal;
	font-family: Shrikhand;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.marge{
	font-family: roboto;
    padding-bottom: 10px;
}
.marge span {
	margin-bottom: 5px;
}
.headmenu{
	display: flex;
    align-items: center;
    margin: auto;
   	padding: 0.5rem;
    width: 100%;
    background-color: white;
   	position: fixed;
    z-index: 100;
    box-shadow: 0px 2px 10px #929191;
}
.banner div{
	width: 100%;
	margin-bottom: 0px;
	margin-top: -20px;
	border-radius:25px 25px 0px 0px;
	background-color: white;
	position: absolute;
	font-family: Shrikhand;
}
.titlebanner{
	font-family: Shrikhand;
	font-size: 25px;
	margin-left: 1rem;
	text-align: left !important;
}
.entree{
	margin-top: 3rem;
}
.price{
    font-weight: bold;
	display: flex;
	align-items: flex-end;
	text-align: right !important;
}
.explore{
	margin-left: 0.1rem;
    margin-right: 0.1rem;
	margin-bottom: 20px;
}
.rest{
	margin-bottom: 50px;
}
.gras{
	font-weight:bold;
}
.option4 .like {
	display: flex;
	margin-right: 6px;
	font-size: 25px;
	align-items: flex-end;
	text-align: right !important;
}
.option4{
    display: flex;
    align-items: center;
    margin: 1px 5px 6px;
    justify-content: space-between;
    padding: 0.5rem;
}
.regroupe .like2{
	margin-top: -70px;
	display: flex;
	align-items: center; 
	justify-content: space-between;
}
.regroupe .like2 .like{
	color: grey;
	font-size:25px; 
    margin-right: 30px; 
}
.like2 .like{
	color: grey;
	font-size:25px;
}

.like2:hover i{
    color: #9c47fc;
    display: block;
    background: -webkit-linear-gradient(#9356DC,#FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.like2:hover .deux{
	animation-name: like;
	animation-duration: 1s; 
}
.number{
	padding-top: 2px;
    width: 22px;
    height: 20px;
    font-family: roboto;
    font-size: 13px;
    background-color: #9356DC;
    border-radius: 100px;
    color: white;
    position: absolute;
    margin-top: 14px;
    margin-left: -3px;
}
.option i{
	color: grey;
	margin-left: 20px;
	margin-right: 20px;
}
.contenair{
    margin: auto;
    width: 90%;
}
footer .contenair{
	margin-bottom: 20px;
}
.like2:hover .un{
	display: none;
}
.deux{
  display: none !important;
}
.like2:hover .deux{
  display: block !important;
}
.un{
	color:#B5B5B5;
}.deux:hover{
   
}
@keyframes like{
	0%{
		height: 1px;
	}
	50%{
		height: 35px;
	}
	100%{
		height: 100%;
	}
}
.optioninside{
	padding: 0.8rem;
	display: flex;
	justify-content: space-between;
}
.option2 i{
	display: flex;
	justify-content: center;
	align-items: center;
}
.option2:hover i{
	animation:rotate 0.8s;
}
@keyframes rotate{
	0%{
		transform: rotate(0deg);
    }
    100% {
		transform: rotate(360deg);
	}
}
.option2:hover{
	display: grid;
	grid-template-columns: 5fr 1fr;   
}
.animation{
	display: none;
	border-radius: 0px 15px 15px 0px;
	color: white;
	background-color: #99E2D0;
}
.option2:hover .animation{
	display: flex;
	justify-content: center;
	align-items: center;
	animation:check 0.5s ease-in-out;
}
@keyframes check{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-0%);
	}	
}

.order{
	margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
.colorrose2:hover{
	box-shadow:0px 2px 10px #4e4d4d;
}
@keyframes fadein{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.repas1{
	animation: fadein 2s;
}
.repas2{
	animation: fadein 4s;
}
.repas3{
	animation: fadein 6s;
}
.progress{
        animation: progress-bar 1000ms;
}
.load{
	z-index: 1;
	display: flex;
	position: fixed;
	background: white;
	width: 100%;
	height: 100%;
	justify-content: center;
    animation: load 1s linear forwards;
}
@keyframes load {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
.loader {
    position: fixed;
    top:40%; 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(#9356DC,#FF79DA);
    animation: loader .5s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f1f1f1;
    border: solid white 10px;
    border-radius: 50%;
}
.regroupe{
	background-color: white;
	border-radius: 25px;
    position: relative;
}
.text{
	width: 75%;
}
.overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media(min-width: 1024px){
	.restaurant{
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
	}
	.contenair{
		width: 70vw;
	}
	.new{
		right:auto;
		margin-left: 23vw !important; 
	}
	.restaurant__menu{
		margin-bottom: 0px;
	}
	.banner div{
		width: 70vw;
		position: relative;
   		margin-top: -50px;
	}
	.regroupe{
		box-shadow: 0px 2px 10px #929191;
		width: 70vw;
		margin:auto;
		position: relative;
		background-color: white;
		border-radius: 25px;
	}
	.repas1, .repas2, .repas3 {
		padding:0px 35px;
	}
	.regroupe .like2{
		margin-top: -300px;
	}
	.order{
		margin-bottom: 0px;
		padding-bottom: 50px;
	}
	.titlebanner{
		margin-top: 25px;
		margin-left: 3rem;
	}
	.regroupe .like2, .regroupe .like {
		margin-right: 2rem;
	}
	.mainmenu{
		background-color: #E1DEDE;
		padding-bottom: 100px;
	}
	.headmenu{
		display: flex;
    	align-items: center;
    	margin: auto;
   		padding: 0.3rem;
   		width: 100%;
    	background-color: white;
   		position: fixed;
    	z-index: 100;
    	box-shadow: 0px 2px 10px #929191;
	}
	header{
		background-color: white;
		padding: 0.3rem;
	}
	p{
		font-size: 17px;
	}
	.ohmyfood{
		font-size: 30px;
	}
	.fa-arrow-left{
		margin-left: 1rem;
	}
	.option2:hover{
		display: grid;
		grid-template-columns: 10fr 1fr;   
	}
	.text{
		width:auto;
	}
	.none{
		display: none;
	}
}